:root {
    --profile-Blossom-color: #e665b0;
    --profile-butercup-color: #36ba45;
    --profile-bubble-color: #74C0FC;
    --profile-doctor-color: #000000;
    --profile-main-char-color: #FFF;
    --profile-bg-color: rgb(187, 172, 201);
}

/* @keyframes myAni {
    0% {border: 0px solid#e665b0;
        
    }
    50% {border: 10px solid #e665b0;
        transform: scale(1.5, 1.5);
    }
    100% {
        border: 0px solid#e665b0;
    } 
} */


@keyframes change1 {
    from {border: 100px solid#e665b0;
        
    }
    to {border: 1px solid white;
        background-color: pink;
        border-radius: 50%;
    } 
}

@keyframes change2 {
    from {border: 100px solid#36ba45;
        
    }
    to {border: 1px solid white;
        background-color: pink;
        border-radius: 50%;
    } 
}

@keyframes change3 {
    from {border: 100px solid#74C0FC;
        
    }
    to {border: 1px solid white;
        background-color: pink;
        border-radius: 50%;
    } 
}

@keyframes change4 {
    from {border: 100px solid#000000;
        
    }
    to {border: 1px solid white;
        background-color: pink;
        border-radius: 50%;
    } 
}


@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'omyu_pretty';
    border-radius: 3%;
}

body{
    display: flex;
    justify-content: center;
}

body#body1 {
    background-color: #ebcadc;
}
body#body2 {
    background-color: #91bd96;
}
body#body3 {
    background-color: #c1e0f7;
}
body#body4 {
    background-color: #9c9c9c;
}

.wrapper {
    margin: 50px;
    height: 100%;
    border: 1px solid white;
    background-color: white;
    text-align: center;
    width: 350px;
    height: 500px;
    box-shadow: 2px 2px 6px black;
    
}

#wrapper1 {
    --profile-main-char-color: var(--profile-Blossom-color);
    
}

#wrapper2{
    --profile-main-char-color: var(--profile-butercup-color);
    
} 

#wrapper3{
    --profile-main-char-color: var(--profile-bubble-color);
}

#wrapper4{
    --profile-main-char-color: var(--profile-doctor-color);
}  

.meun {
    border: 1px solid white;
    margin: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}

img {
    border-radius: 50%;
    width: 200px;
    box-shadow: 1px 1px 1px black;
}

.profile{
    background-color: white;
}

p {
    background-color: white;
    margin: 3px;
    font-size: 20px;
    
}

.content {
    background-color: white;
    padding: 0;
    line-height: 10px;

}
ul  li {
    list-style: none;
    
}

ul li a {
    font-size: 12px;
    padding: 10px;
}

.v {
    padding: 8px 20px; /* 내부 여백 설정 */
border: none; /* 테두리 제거 */
border-radius: 10px; /* 버튼 모서리를 둥글게 만듭니다. */

color: #fff; /* 텍스트 색상 설정 */
font-size: 16px; /* 폰트 크기 설정 */
cursor: pointer;
box-shadow: 1px 1px 3px black;
margin: 10px;
}





.v1 {
    background-color: var(--profile-Blossom-color); 
}

.v2 {
    background-color: var(--profile-butercup-color);      
}
.v3 {
    background-color: var(--profile-bubble-color); 
}

.v4 {
    background-color: var(--profile-doctor-color); 
}  

.v:hover {
        transform: scale(1.5, 1.5);
        /* 하나만 쓰면 엑스값와이값 다 먹음 */
} 

#img1{
animation: change1 1s linear 1 alternate;
} 

#img2{
    animation: change2 1s linear 1 alternate;
    }

#img3{
        animation: change3 1s linear 1 alternate;
        }

#img4{
    animation: change4 1s linear 1 alternate;
            }

#img1:hover {
    border: 10px solid #e665b0;
    transform: scale(1.5, 1.5);
}

#img2:hover{
    border: 10px solid #36ba45;
}
#img3:hover{
    border: 10px solid #74C0FC;
}
#img4:hover{
    border: 10px solid #000000;
}


i {
    margin: 3px;
}

.last {
    border: 1px  solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
    opacity: 50%;
    box-shadow: 1px 1px 1px ;
    
    }

.last_button1 {
    background-color: #e665b0;
    

}
.last_button2 {
    background-color: #36ba45;
    
}
.last_button3 {
    background-color: #74C0FC;
}
.last_button4 {
    background-color: #000000;
}

button:active {
    
    transform: translateY(1px); /* 클릭 시 버튼을 아래로 약간 이동하여 누르는 효과를 줍니다. */
}

.last_button1:active {
    background-color: #df0383;

}
.last_button2:active {
    background-color: #02c018;
}
.last_button3:active {
    background-color: #0592fd;
}
.last_button4:active {
    background-color: #b3aaaa;
    
}
/* .others>a:hover {
    box-shadow: none;
    border: 2px solid #777;
} */
.on {
    border-color: yellow;
    border-width: 4px;
}